@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-font: 'Inter', sans-serif;
    --primary-color: #165DB4;
    --sub-text-color: #666666;
    --btn-main-color: #6DC265;
    --btn-main-hover-color: #5eb056;
}

button:focus:not(:focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: var(--primary-color);
}


body {
    font-family: var(--primary-font);
}

.main-color {
    color: var(--primary-color);
}

.btn-main {
    background-color: var(--btn-main-color);
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s;
}
.btn-main:hover {
    background-color: var(--btn-main-hover-color);
    color: white;
}
.btn-cta {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    gap: 5px;
    background-color: var(--btn-main-color);
    box-shadow: 0px 90px 36px rgba(0, 0, 0, 0.01), 0px 51px 30px rgba(0, 0, 0, 0.05), 0px 23px 23px rgba(0, 0, 0, 0.09), 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    color: white;
}
.btn-cta-no-shadow {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    gap: 5px;
    background-color: var(--btn-main-color);
    color: white;
}
.btn-cta-no-shadow:hover, .btn-cta:hover {
    box-shadow: unset;
    background-color: var(--btn-main-hover-color);
    color: white;
}
.btn-green-prime {
    background-color: var(--btn-main-color);
    color: white;
}
.btn-green-prime:hover {
    background-color: var(--btn-main-hover-color);
    color: white;
}
.btn-transparent {
    color: var(--btn-main-color);
}
.btn-transparent:hover {
    color: var(--btn-main-hover-color);
}

#hero {
    position: relative;
    padding-top: 8rem;
    height: 88vh;
    display: grid;
    align-items: center;
    overflow: hidden;
}
#hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    position: absolute;
    z-index: -99;
}
#hero:after {
    content: '';
    width: 100vw;
    position: absolute;
    background: url('data:image/svg+xml;utf8,<svg width="1440" height="263" viewBox="0 0 1440 263" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1440 87L293.021 205.681C270.913 207.968 248.8 201.4 231.525 187.417L0 0V263H1440V87Z" fill="white"/></svg>') no-repeat;
    height: 296px;
    bottom: 0;
    background-size: cover;
    z-index: -1;
}

.hero-img {
    position: unset;
    width: 100%;
    padding-top: 1rem;
    }
    .bg-hero {
        display: none;
    }

#mainNav {
    padding: 1.8rem 0;
}

li.nav-item {
    margin-right: 1rem;
    font-size: 0.9rem;
}

.hero-txt h1 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
}
.hero-txt p {
    font-family: var(--sub-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.sec-title {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}
.sec-subtitle {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--primary-color);

}
.title-hr {
    width: 100px;
    height: 4px;
    background-color: var(--btn-main-color);
    border-radius: 10rem;
}

.main-para {
    font-family: var(--primary-font);
    color: var(--sub-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.icon-features.chart {
    width: 80px;
    height: 80px;
    border-radius: 53px;
    background: #E6F3FF url('/trisarienvisense/assets/img/icon-feature-chart.svg') no-repeat;
    background-size: 25px;
    background-position: center;
}
.icon-features.mapviewer {
    width: 80px;
    height: 80px;
    border-radius: 53px;
    background: #E6F3FF url('/trisarienvisense/assets/img/icon-feature-mapviewer.svg') no-repeat;
    background-size: 25px;
    background-position: center;
}
.icon-features.dasman {
    width: 80px;
    height: 80px;
    border-radius: 53px;
    background: #E6F3FF url('/trisarienvisense/assets/img/icon-feature-dashman.svg') no-repeat;
    background-size: 25px;
    background-position: center;
}
.icon-features.notif {
    width: 80px;
    height: 80px;
    border-radius: 53px;
    background: #E6F3FF url('/trisarienvisense/assets/img/icon-feature-notif.svg') no-repeat;
    background-size: 25px;
    background-position: center;
}
.icon-features.export {
    width: 80px;
    height: 80px;
    border-radius: 53px;
    background: #E6F3FF url('/trisarienvisense/assets/img/icon-feature-export.svg') no-repeat;
    background-size: 25px;
    background-position: center;
}
.icon-features.datalogger {
    width: 80px;
    height: 80px;
    border-radius: 53px;
    background: #E6F3FF url('/trisarienvisense/assets/img/icon-feature-datalogger.svg') no-repeat;
    background-size: 25px;
    background-position: center;
}
.icon-features.cctv {
    width: 80px;
    height: 80px;
    border-radius: 53px;
    background: #E6F3FF url('/trisarienvisense/assets/img/icon-feature-cctv.svg') no-repeat;
    background-size: 25px;
    background-position: center;
}
.icon-features.customize {
    width: 80px;
    height: 80px;
    border-radius: 53px;
    background: #E6F3FF url('/trisarienvisense/assets/img/icon-feature-customize.svg') no-repeat;
    background-size: 25px;
    background-position: center;
}
.icon-features {
    transition: all 1s;
    transform: rotate(0);
    transition-timing-function: cubic-bezier(0.49, 0.42, 0.05, 1.38);
}
.features-desc:hover .icon-features {
    transform: rotate(360deg);
}
.features-desc:hover h3 {
    color: #165DB4;
}

.features-desc h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #444444;
}
.features-desc p {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: var(--sub-text-color);
}

.switch-prime {
    height: 1.8rem !important;
    width: 3.5em !important;
    margin-right: 1rem;
}

.switch-prime.form-check-input:checked {
    background-color: #6dc265;
    border-color: #6DC265;
}

.plan-box {
    background-color: white;
    border: 1px solid #DEDEDE;
    border-radius: 12px;
    padding: 20px;
    height: 100%;
    box-shadow: none;
    transform: translateY(0);
    transition: all 0.3s;
}
.plan-box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 307px 123px rgba(0, 0, 0, 0.01), 0px 173px 104px rgba(0, 0, 0, 0.05), 0px 77px 77px rgba(0, 0, 0, 0.09), 0px 19px 42px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.plan-box h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #444;
}
.plan-box h1 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #6DC265;
}
.plan-box h1 span {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.plan-benefit {
    display: flex;
    gap: 10px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--sub-text-color);
}

.support-box h4 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #444444;
}
.support-box p {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #999999;
}

#faq {
    position: relative;
    background-color: #f5f5f5;
}
#faq::before {
    display: none;
}



.accordion-button:not(.collapsed) {
    color: white;
    background-color: #6DC265;
    border-radius: 8px !important;
}

.accordion-body {
    color: #666;
    font-size: 0.8rem;
}

.bg-footer-end {
    background-color: var(--primary-color);
    color: white;
}

#accordionFlushExample {
    padding: 20px;
    background-color: white;
    border-radius: 12px; 
}
.accordion-flush .accordion-item {
    border: 0;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    margin: 10px 0;
}
.accordion-button::after {
    background-image: url('../img/icon-accordion.svg') !important;
    width: 14px;
    height: 8px;
    background-size: contain;
    transform-origin: center;
}
.accordion-button:not(.collapsed)::after {
    background-image: url('../img/icon-accordion-active.svg') !important;
}

.footer-logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.06em;
    color: var(--primary-color);
}

.footer-menu ul {
    list-style-type: none;
    padding: 0;
}

.footer-menu ul li {
    margin: 15px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--sub-text-color);
    padding-left: 0;
    transition: all 0.3s;
}
.footer-menu ul li:hover {
    padding-left: 10px;
}

#contactForm textarea {
    height: 150px;
}


    @media (min-width: 768px) {
        #about {
            padding: 9rem 0;
        }
        .bg-hero {
            position: absolute;
            z-index: -1;
            bottom: -380px;
            right: 0;
            width: 69%;
            display: block;
        }
        .hero-img {
            position: absolute;
            z-index: 0;
            width: auto;
        }
        #features, #pricenplan {
            padding-top: 9rem;
            padding-bottom: 9rem;
        }
        #faq::before {
            display: block;
            content: ' ';
            position: absolute;
            background: url('../img/faq-top-bg.svg') no-repeat;
            background-size: contain;
            width: 100%;
            height: 300px;
            top: -204px;
            z-index: -99;
        }
        footer {
            padding: 7rem 0;
        }
        
    }