/* Custom CSS */
.banner-lowongan-desktop {
    display: block;
    width: 100%;
}
.banner-lowongan-mobile {
    display: none;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .banner-lowongan-desktop {
        display: none;
    }
    .banner-lowongan-mobile {
        display: block;
    }
  }
