/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,500;0,600;0,800;0,900;1,300;1,400;1,600;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* a {
    text-decoration: none !important;
    color: #2896D4;
}
a:hover {
    color: #11C1F3;
} */

.kanit {
    font-family: "Kanit", sans-serif;
}
.mulish {
    font-family: "Mulish", sans-serif;
}
.nunito {
    font-family: "Nunito", sans-serif;
}

/* general */
.lines-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.lines-4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* Navbar */
.navbar-collapse {
    background: white;
}

#mainNav.navbar-light .navbar-nav .nav-link {
    color: #2896D4;
}
#mainNav.navbar-light .navbar-nav .nav-link:hover {
    color: #11C1F3;
}
#mainNav.navbar-light .navbar-nav .nav-link.active {
    color: #11C1F3;
}

.main-logo {
    max-width: 200px;
}

#headline {
    padding-top: 8rem;
}

.headline-img-box {
    width: 100%;
    overflow: hidden;
    border-radius: 1em;
    border: 1px solid #ebebeb;
    height: auto;
}

.headline-img-box img {width: 100%;}

.section-label {
    background: #2896D4;
    display: inline-block;
    padding: 0.4em 1em;
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
    border-radius: 4px;
    margin: 1em 0;
    transition: all 0.3s;
}
.section-label:hover {
    background: #11C1F3;
}

.headline-pag {
    left: 2em !important;
    bottom: 0px !important;
}
.section-pag {
    position: unset !important;
    display: unset !important;
    margin-left: -4px !important;
}

.section-sw .swiper-wrapper {
    padding-bottom: 10px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #2896D4;
}

.section-header a {
    color: #2896D4;
    font-weight: bold;
    transition: all 0.1s;
}
.section-header a:hover {
    color: #11C1F3;
}

.section-mini-box img {
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid #ebebeb;
}
.section-mini-box h2:hover {
    color: #11C1F3 !important;
}

.footer-thumb {
    width: 25%;
}

.footer-thumb-img {height: 100px;display: grid;justify-content: center;align-items: center;width: 100%;overflow: hidden;position: relative;border-radius: 0.4em;}
.footer-thumb-img img {
    transition: all 0.4s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.footer-title {
    width: 75%;
    padding-left: 1em;
}
.footer-title p:hover {
    color: #11C1F3 !important;
}

.footer-article {
    margin-bottom: 1em;
}

.btn-dl img {
    width: 120px;
}

.socmed {
    width: 170px;
}

.socmed img {
    width: 30px;
}

.socmed {
    width: 170px;
}

.socmed img {
    width: 30px;
}

.sitemap ul li {
    display: inline-block;
    margin-right: 1em;
    font-family: 'Mulish', sans-serif;
    font-size: smaller;
}

.sitemap ul {
    padding-left: 0;
    margin: 0;
}

.sitemap a {
    color: rgb(0 0 0 / 50%);
}
.sitemap a:hover {
    color: black;
}

.sidebar-news {
    padding-left: 0;
    display: inline-block;
    list-style-type: none;
}

.sidebar-news li {
    padding: 1em 0;
    border-bottom: 1px solid #ebebeb;
}

.sidebar-news a {
    text-decoration: none;
    color: black;
    font-family: 'Kanit', sans-serif;
}

.sidebar-news li:last-child {
    border: none;
}

.sidebar-news a:hover {
    color: #11C1F3;
}

.custom-pag .page-item.active .page-link {
    background-color: #2896D4 !important;
    border-color: #2896D4 !important;
}

.footer-article:hover img {
    transform: scale(1.2);
}

.news-main-thumb {
    display: grid;
    justify-content: center;
    align-items: center;
}

.news-main-thumb img {
    width: 100%;
}


/* Media Screen */
@media only screen and (max-width: 768px) {
    #headline {
        padding-top: 7rem;
    }
    .section-label {
        margin-top: 0;
    }
    .headline-pag {
        position: unset !important;
        display: unset !important;
        margin-left: -4px !important;
        }
    .gap-mobile {
        gap: 1em !important;
    }
    #news {
        padding-top: 0 !important;
    }
}

@media only screen and (max-width: 425px) {
    #footer {
        margin-top: 0 !important;
    }
    .dl-app {
        width: 100%;
    }
    .quicklinks {
        display: block !important;
        padding: 1em;
        text-align: center;
    }
    .sitemap {
        margin-bottom: 1em;
    }
    .socmed {
        display: block !important;
        margin: auto;
    }
    .footer-cr {
        text-align: center;
    }
    .section-sw {
        height: 610px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4.3em !important;
    }
    .section-sw .swiper-slide {
        height: 260px;
    }
}


