.hexagon {
    clip-path: url(#hexagon);
    width: 40%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: all 1s;
}

.hexagon-back {
    clip-path: url(#hexagon);
    width: 18%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: absolute;
    transition: all 1s;
    top: 255px;
    right: 580px;
    z-index: -1;
}

.hexagon:hover {
    width: 42%;
}

.hexagon:hover+.hexagon-back {
    transform: translateX(20px);
}